* {
    cursor: none;
}

body {
    background-color: #efefef;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    overflow: hidden;
}

body::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #575757;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: 1s ease-out;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    -o-transition: 1s ease-out;
}

body.dark::before {
    background-color: #0e0e0e;
    width: 2000px;
    height: 2000px;
    aspect-ratio: 1/1;
}

button {
    user-select: none;
    background-color: transparent;
    border: transparent;
    font-size: 36px;
}

#shape {
    width: 50px;
    height: 50px;
    background-color: #de7b7b;
    transition: 0.25s ease-out;
    border-radius: 10px;
    position: relative;
    rotate: -10deg;
}

#shape.active {
    rotate: 10deg;
    background-color: #9ADE7B;
}

#shape::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: 0.5s ease;
}

#shape::before {
    z-index: 10;
    opacity: 0.3;
    width: 80%;
    scale: 2;
}

#shape.active::before {
    scale: 1.4;
    z-index: 10;
    opacity: 0.8;
    width: 80%;

    top: calc(50% + 30px);
    left: calc(50% + 30px);
}

#shape .leg {
    width: 5px;
    height: 10px;
    background-color: inherit;
    position: absolute;
    bottom: -8px;
    z-index: -1;
    border-radius: 5px;
}

#shape .leg.leg1 {
    left: 20%;
}

#shape .leg.leg2 {
    right: 20%;
}

#shape .leg.legtop {
    bottom: auto;
    top: -5px;
    left: 50%;
    width: 10px;
    transform: translateX(-50%);
}

#changeModer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    animation: icon-pulse 2s linear infinite;
    -webkit-animation: icon-pulse 2s linear infinite;
    z-index: 999999999999;
}

@keyframes icon-pulse {
    0% {
        transform: translate(-50%, -50%) scale(1, 1);
        -webkit-transform: translate(-50%, -50%) scale(1, 1);
        -moz-transform: translate(-50%, -50%) scale(1, 1);
        -ms-transform: translate(-50%, -50%) scale(1, 1);
        -o-transform: translate(-50%, -50%) scale(1, 1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.3, 1.3);
        -webkit-transform: translate(-50%, -50%) scale(1.3, 1.3);
        -moz-transform: translate(-50%, -50%) scale(1.3, 1.3);
        -ms-transform: translate(-50%, -50%) scale(1.3, 1.3);
        -o-transform: translate(-50%, -50%) scale(1.3, 1.3);
    }

    100% {
        transform: translate(-50%, -50%) scale(1, 1);
        -webkit-transform: translate(-50%, -50%) scale(1, 1);
        -moz-transform: translate(-50%, -50%) scale(1, 1);
        -ms-transform: translate(-50%, -50%) scale(1, 1);
        -o-transform: translate(-50%, -50%) scale(1, 1);
    }
}

/* coursor */
#follower {
    position: absolute;
    top: 50%;
    left: 50%;
}

#follower #circle {
    position: absolute;
    background-color: #000000;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    margin-top: 0em;
    margin-left: 0em;
}

body.dark #follower #circle {
    background-color: #fff;
}